<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App - ログイン</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-8 space-y-8 bg-white rounded-lg shadow-md mx-4">
            
            <div class="text-center">
                <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                    ToDo App Login
                </h2>
                <p class="mt-2 text-sm text-gray-600">
                    {{message}}<br>
                    ID:test<br>
                    password:test
                </p>
            </div>

            <form class="mt-8 space-y-6" action="{{url_for('login')}}" method="POST">
                
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="user-id" class="sr-only">ID</label>
                        <input id="user-id" name="user_id" type="text" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="ID">
                    </div>
                </div>

                <div>
                    <label for="password" class="sr-only">パスワード</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="パスワード">
                </div>
                
                <div>
                    <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-gradient-to-r from-cyan-500 to-blue-500 border border-transparent rounded-md group hover:from-cyan-600 hover:to-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        ログイン
                    </button>
                </div>
            </form>

        </div>
    </div>

</body>
</html>